<div id="container">

    <div id="frosh-info">
       <h2><%= @frosh.name %></h2>
	   <h3><%= @frosh.anagram %></h3>
	   <h3><%= link_to 'interest sheet', @frosh.interest_url %></h3>
	   <%= image_tag @frosh.image_url %>
	</div>
	    
	<div id="comment-box">
	   Comments:<br>
       <%= form_for @frosh, url: frosh_comments_url(@frosh), method: :put do |f| %>
	      <!-- input javascript or something to make this form actually do things-->
          <%= f.text_area :comments, rows: 30, cols: 65 %>
		  <br>
          <%= f.submit "Save Comments"%>
       <% end %>
    </div>
</div>
