<table class="sortableTable">
<tr class="tableHead"><td></td><td>Name</td><td>Last name</td><td>nickname</td><td>Dinner</td><td>dessert</td><td>anagram</td><td>male?</td></tr>
<% @froshes.each do |frosh| %>
<tr class="tableRow">
    <!-- hack hack hack andrew fix this plz -->
    <!-- though I guess it works... -->
    <td class="list-image">
        <div id="frosh-info">
            <%= image_tag frosh.image_url %>
        </div>
    </td>
	<td><%= frosh.name %></td>
	<td><%= frosh.last_name %></td>
	<td><%= frosh.nickname %></td>
	<td><%= frosh.dinner %></td>
	<td><%= frosh.dessert %></td>
	<td><%= frosh.anagram %></td>
	<td><%= frosh.male %></td>
    <td><%= link_to "votes", frosh_votes_path(frosh) %></td>
    <td><%= link_to "view", frosh_path(frosh) %></td>
    <td><%= link_to "edit", edit_frosh_path(frosh) %></td>
    <td><%= link_to "comments", frosh_comments_path(frosh) %></td>
    <td><%= link_to "destroy", frosh_path(frosh), method: :delete%></td>
</tr>
<% end %>
</table>
